{{ template "header" }}

<h1>New post</h1>
<form action="/goblog/add" method="POST">
	<label for="title">post title</label>
	<input id="title" name="title" type="text" required/>
	<label for="date-created">date created</label>
	<input id="date-created" name="date-created" type="date">
    <div>
    	<label for="markdown">post markdown content</label>
        <textarea id="markdown" name="markdown" rows="30" cols="80" required></textarea>
    </div>
	<div>
		<input type="submit" value="Save">
	</div>
</form>

{{ template "footer" }}