{{ template "header" }}

<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Id}}" method="POST">
	<label for="title">post title</label>
	<input id="title" name="title" type="text" value="{{.Title}}" required/>
	<label for="date-created">date created</label>
	<input id="date-created" name="date-created" type="date" value="{{.HTML5CreatedTime}}">
    <div>
    	<label for="markdown">post markdown content</label>
        <textarea id="markdown" name="markdown" rows="30" cols="80" required>{{printf "%s" .ContentMarkdown}}</textarea>
    </div>
	<div>
		<input type="submit" value="Save">
	</div>
</form>

{{ template "footer" }}