{{template "header" .Header}}

<ul>
    {{range $index, $element := .Posts}}
        <article>
            <header>
                <h1 class="post-title"> <a href="/view/{{$element.Id}}" title="view post">{{ $element.Title }}</a></h1>
                <small class="post-meta-top">{{ $element.FormattedCreatedTime }}</small>
            </header>    
            <section class="post-meta-bottom">
            </section>
        </article>
    {{ end }}
</ul>

{{template "footer" .Footer}}
