{{template "header" .Header}}

<ul>
    {{range $index, $element := .Posts}}
        {{ $index }} 
        {{ $element }} 
    {{ end }}
</ul>

<article>
    <header>
        <h1 class="post-title">{{ .Post.Title }}</h1>
        <small class="post-meta-top">{{ .FormattedDate }}</small>
    </header>    
    <section class="post-body">
    	{{ .Post.BodyHtml }}
    </section>

    <section class="post-meta-bottom">
    	<a href="/edit/{{.Post.Id}}" title="edit post">edit post</a>
    </section>
</article>

{{template "footer" .Footer}}
